/// TYPOGRAPHY

.display-1 {
   margin-bottom: 1.875rem;
   font-weight: 900;
   font-size: responsive 52px 60px;
   font-family: 'Merriweather', serif;

   font-range: 420px 1280px;

   &:before {
      float: left;
      padding-right: 1.5rem;
      color: red;
      content: '//';
      font-size: responsive 2.8rem 3.4rem;

      font-range: 420px 1280px;
   }
}
