<div class="row">
  <!-- Column 1 -->
  <div class="col-md-6 col-lg-8">
    <aside class="frontBox">
      <div class="frontBox__content d-flex flex-column">
        <% link_to "about.html", :relative => true, title: "Sobre Nós", class: "frontBox__link" do %>
        <span></span>
        <% end %>
        <header class="frontBox__header">
          <h1 class="frontBox__header-tt">Nasi e a t(ira)nia dos covardes</h1>
        </header>
        <div class="frontBox__info mt-auto">
          <span class="frontBox__author">Wilson Araújo</span>
          <p class="frontBox__info-txt">Tocqueville, no século XIX, utilizou uma expressão irônica para designar a maior contradição dos sistemas democráticos: 'a tirania da maioria'. Mais de dois séculos depois, com a popularização das redes...</p>
        </div>
        <div class="frontBox__overlay"></div>
      </div>
      <div class="frontBox__figure hgt__754">
        <%= image_tag "front06.jpg", :class => "frontBox__image", alt: "Nasi e a t(ira)nia dos covardes" %>
      </div>
    </aside>
  </div>
  <!-- Column 2 -->
  <div class="col-md-6 col-lg-4">
    <aside class="frontBox">
      <div class="frontBox__content d-flex flex-column">
        <% link_to "about.html", :relative => true, title: "Sobre Nós", class: "frontBox__link" do %>
        <span></span>
        <% end %>
        <header class="frontBox__header">
          <h1 class="frontBox__header-tt">A PROFECIA</h1>
        </header>
        <div class="frontBox__info mt-auto">
          <span class="frontBox__author">Gustavo Vidigal</span>
          <p class="frontBox__info-txt">Eu descia por dentro de uma montanha. Sim, era um caminho por dentro da montanha, em espiral descendente, contornando sua estrutura, seu corpanzil pedregoso, rígido, quase imutável. Eu descia calma e cad...</p>
        </div>
        <div class="frontBox__overlay"></div>
      </div>
      <div class="frontBox__figure hgt__362">
        <%= image_tag "front07.jpg", :class => "frontBox__image", alt: "A PROFECIA" %>
      </div>
    </aside>

    <aside class="frontBox">
      <div class="frontBox__content d-flex flex-column">
        <% link_to "about.html", :relative => true, title: "Sobre Nós", class: "frontBox__link" do %>
        <span></span>
        <% end %>
        <header class="frontBox__header">
          <h1 class="frontBox__header-tt">Refúgio</h1>
        </header>
        <div class="frontBox__info mt-auto">
          <span class="frontBox__author">Leandro Maciel</span>
          <p class="frontBox__info-txt">Basta eu pôr o pé fora de casa, o que tento evitar amiúde, para me confrontar com uma legião de inconformados. Sim, não posso chegar no boteco que, após cumprimentos formais e sadios, já escuto os lament...</p>
        </div>
        <div class="frontBox__overlay"></div>
      </div>
      <div class="frontBox__figure hgt__362">
        <%= image_tag "front08.jpg", :class => "frontBox__image", alt: "Refúgio" %>
      </div>
    </aside>
  </div>
</div>
