<div class="row">
   <!-- Column 1 -->
   <div class="col-md-12 col-lg-8">
      <aside class="frontBox">
         <div class="frontBox__content d-flex flex-column">
            <% link_to "about.html", :relative => true, title: "Sobre Nós", class: "frontBox__link" do %>
            <span></span>
            <% end %>
            <header class="frontBox__header">
               <h1 class="frontBox__header-tt">Rock Nutela X Raiz</h1>
            </header>
            <div class="frontBox__info mt-auto">
               <p class="frontBox__info-txt">Algumas vezes já me chegou aos ouvidos uma comparação que, a mim, parece muito sem nexo, mas que me reflete um pouco os valores atribuídos à música de hoje. “Foo Fighters já fez mais sucesso que o Nirvan...</p>
            </div>
            <div class="frontBox__overlay"></div>
         </div>
         <div class="frontBox__figure hgt__362">
            <%= image_tag "front09.jpg", :class => "frontBox__image", alt: "Rock Nutela X Raiz" %>
         </div>
      </aside>
      <!-- Inner line 1 -->
      <div class="row">
         <div class="col-sm-6">
            <aside class="frontBox">
               <div class="frontBox__content d-flex flex-column">
                  <% link_to "about.html", :relative => true, title: "Sobre Nós", class: "frontBox__link" do %>
                  <span></span>
                  <% end %>
                  <header class="frontBox__header">
                     <h1 class="frontBox__header-tt">Tagore - Pineal</h1>
                  </header>
                  <div class="frontBox__info mt-auto">
                     <p class="frontBox__info-txt">Acredito que o exercício comparativo que se inicia com com a expressão: "Isso lembra..." trata-se de um verdadeiro desfavor ao leitor, um menosprezo à sua prévia capacidade cognitiva. O "Isso lembra ...</p>
                  </div>
                  <div class="frontBox__overlay"></div>
               </div>
               <div class="frontBox__figure hgt__362">
                  <%= image_tag "front10.jpg", :class => "frontBox__image", alt: "Tagore - Pineal" %>
               </div>
            </aside>
         </div>

         <div class="col-sm-6">
            <aside class="frontBox">
               <div class="frontBox__content d-flex flex-column">
                  <% link_to "about.html", :relative => true, title: "Sobre Nós", class: "frontBox__link" do %>
                  <span></span>
                  <% end %>
                  <header class="frontBox__header">
                     <h1 class="frontBox__header-tt">Apneia</h1>
                  </header>
                  <div class="frontBox__info mt-auto">
                     <p class="frontBox__info-txt">De novo. Havia dito que aquela seria a última vez, mas sabe como é, perdi a autonomia, não existe mais o querer ou não querer. A necessidade. Uma dessas são 2 anos de expediente (incluindo as horas extras...</p>
                  </div>
                  <div class="frontBox__overlay"></div>
               </div>
               <div class="frontBox__figure hgt__362">
                  <%= image_tag "front11.jpg", :class => "frontBox__image", alt: "Apneia" %>
               </div>
            </aside>
         </div>
      </div>
   </div>
   <!-- Column 2 -->
   <div class="col-md-12 col-lg-4">
      <aside class="frontBox">
         <div class="frontBox__content d-flex flex-column">
            <% link_to "about.html", :relative => true, title: "Sobre Nós", class: "frontBox__link" do %>
            <span></span>
            <% end %>
            <header class="frontBox__header">
               <h1 class="frontBox__header-tt">Lavoura Arcaica (Brasil, 2001)</h1>
            </header>
            <div class="frontBox__info mt-auto">
               <p class="frontBox__info-txt">Filmes baseados em livros são uma incógnita. Costumam desapontar os leitores. Afora o fato de jamais conseguirem transpor para as telas a liberdade imaginativa de uma obra literária. Lavoura Arcaica é uma...</p>
            </div>
            <div class="frontBox__overlay"></div>
         </div>
         <div class="frontBox__figure hgt__init-754">
            <%= image_tag "front12.jpg", :class => "frontBox__image", alt: "Lavoura Arcaica (Brasil, 2001)" %>
         </div>
      </aside>
   </div>
</div>
