<article class="newsPost">
   <p class="newsPost__author">Por <b>Márcio Barros</b></p>
   <p class="newsPost__date">29 de setembro de 2017 23:30 PM</p>
   <h3 class="newsPost__title"><%= current_page.data.title || "Entrerios" %></h3>
   <p>Gostaria de deixar claro que este texto não faz um comparativo de qualidade entre estilos estéticos, por motivos óbvios. O Gueto metal também tem um outro envolvimento com música que esse texto não busca explicar.</p>

   <p>O que acontece é que pelas bandas daqui a turma do sertanejo universitário e do forró são infinitamente mais ligadas nas tendências do estilo de música e festas que lhes interessam. Sempre estão por dentro da novidade do momento, no hit que ainda vai tomar de conta do Brasil em algumas semanas e nas festas mais quentes. Aparentemente, as baladas têm mais sexo, <a href="#">diversão e liberdade</a>. No quesito shows, as produções são gigantes, com as maiores estrelas do estilo, e parecem ser sempre um sucesso comercial, ou seja, estão no lugar certo, na hora certa e antenados com seu universo.</p>

   <p>O universo dos roqueiros e moderninhos mafrenses é permanentemente mais pobre e melancólico. Eles sofrem muito, são deslocados, vivem num tempo passado e imersos em reclamações sem muito fundamento. O mais engraçado é que essa turma se acha mais moderna, inteligente e descolada, mas são exatamente o contrário de tudo o que pensam. Roqueiro por aqui é sinal de atraso, de não ouvir música do tempo presente, e de comportamento reacionário.</p>

   <p>O rock sempre foi muito mais que um estilo musical e representou a vanguarda juvenil que ansiava por mudanças e por uma conexão com seu próprio tempo, que apontava um novo caminho.  Difícil imaginar jovens espertos nos anos 1960 que não soubessem ou não se interessassem pelos Beatles, Stones, The Who etc.; que nos anos 1970 não estivessem ligados na Black Music ou no Punk; que nos anos 1990 no grunge, mas incrivelmente por aqui, hoje, os “jovens” quando se acham espertos ainda ouvem o quê? Beatles, Led Zeppelim, AC/DC, blá, blá, blá… Isso é o que não pode se chamar de um lugar rock’n’roll. Uma das coisas mais complicadas dessas terras aqui é sair para qualquer bar ou balada “de rock” e ouvir uma música com menos de 20 anos, isso mostra o tamanho da caretice e da desconexão com seu tempo. Roqueiro teresinense vive eternamente nostálgico por uma época que não viveu, com heróis caquéticos e, quando muito, viajando para ver shows de artistas caindo aos pedaços no palco. As festas são poucas, com roqueiros espalhados pelos cantos, reclamando do quanto são incompreendidos pelo mundo e o quanto todo o resto do lugar onde eles vivem é ruim, atrasado e habitado por pessoas  mais burras que eles. É triste abrir o olho e ver isso acontecendo.</p>

   <p>O gostar me parece muito mais instintivo que racional, pois quando você experimenta um aroma ou um sabor, ou você gosta ou acha ruim; querer gostar é uma artificialidade mentirosa, por isso não estou nas festas mais animadas aos fins de semana, mas devo confessar que encontrar com pessoas eternamente fora do seu tempo é profundamente desmotivador pra quem realmente acredita que ainda está cheio de bandas boas por aí e que a efervescência roqueira ainda explode em cada esquina ou dentro de alguma garagem, quando um adolescente qualquer liga sua guitarra com a distorção no máximo e acha que com isso pode mudar o mundo. Acreditem, isso ainda existe, mas quem só ouve velharia nunca vai ver isso florescer.</p>
   <% link_to "content.html", :relative => true, title: "Voltar", class: "btn btn-primary" do %>
   <i class="link-back">←</i> Leia mais
   <% end %>
   <span class="line-separator"></span>
</article>
