/// GENERAL

@import url('https://fonts.googleapis.com/css?family=Merriweather:700,900');

body {
   text-align: justify;
}

.container.firstBody {
   margin-top: $vr-30;
}

button:focus {
   outline: none;
   outline: none;
}

a {
   color: #000;

   @include transition;

   &:hover {
      color: red;
      text-decoration: none;
   }
}

p {
   font-size: 1.125rem;

   a {
      color: red;
   }
}

h1, h2, h3, h4, h5, h6 {
   font-family: $h-font;
}
