/// VARIABLES

// Colors
$main-color: red;
$main-black: #353535;
$two-black: #484848;
$main-gray: #787B7B;

// Font size
$f-16: 1rem;
$f-24: 1.5rem;
$f-26: 1.625rem;
$f-50: 3.125rem;
$f-60: 3.75rem;

// Font family
$h-font: 'Merriweather', serif;

// General variables
$vr-10: .63rem;
$vr-20: 1.25rem;
$vr-30: 1.875rem;
$vr-40: 2.5rem;
$vr-50: 2.75rem;
$vr-60: 3.75rem;
$vr-90: 5.63rem;
$vr-100: 6.25rem;

// Heights for frontBox feature
$hg-362: 22.625rem;
$hg-510: 31.875rem;
$hg-754: 47.125rem;
